{% block navbar %}
<!-- Remove this line the first time you edit this file -->
<!-- This is the index page of your Django app! -->
<!--Add a nav bar here -->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="href" ="{% url 'djangoapp:index' %}"
      >Dealership Reviews</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'djangoapp:index' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'djangoapp:contact' %}"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
        </li>
      </ul>
      <div>
        {% if user.is_authenticated %}
        <ui class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn fw-bold" href="#"
              >{{ user.first_name }}{{ user.username }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-danger fw-bold"
              href="{% url 'djangoapp:logout' %}"
              >Logout</a
            >
          </li>
        </ui>
        {% else %}
        <form
        class="d-flex form-check-inline"
          action="{% url 'djangoapp:login' %}"
          method="post"
          role="login"
          >
          {% csrf_token %}
          <input
            class="form-control me-2"
            type="username"
            placeholder="Enter Username"
            name="username"
            aria-label="Username"
          />
          <input
            class="form-control me-2"
            type="password"
            placeholder="Enter Password"
            name="password"
            aria-label="Password"
          />
          <button class="btn btn-success m-1" type="submit">Login</button>
          <a
          class="btn btn-outline-success m-1"
            href="{% url 'djangoapp:register' %}"
            >Signup</a
          >
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% endblock %}