# Ignore development files
*.pyc
*.pyo
*.pyd
__pycache__/
djangoapp/__pycache__/
djangoapp/migrations/__pycache__/
djangobackend/__pycache__/

# igonre venv files
venv/

# Ignore ide settings
.idea/
.vscode/

# Ignore database files
*.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/